# Xcode
DerivedData/
build/
*.xcuserstate
**/xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Logs
*.log

# macOS
.DS_Store

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Environment / secrets
.env
.env.local

# Playgrounds
timeline.xctimeline
playground.xcworkspace

